body{
    padding: 100px; 

}
.submit-area{
    background-color: rgb(1, 1, 12);
     margin-top:40px;
    padding: 50px;
    border-radius:40px;
    box-shadow:5px 5px 5px 5px green ;
}
#transition-area{
    background-color:royalblue;
    margin-top:80px;
    padding:70px;
    display: none;
}
.deposit{
background-color: rgb(210, 245, 12);
}
.withdraw{
background-color: rgb(49, 45, 47);
}
.balance{
background-color: rgb(15, 231, 62);
}
.status{
    margin: 0, 20px;
    padding: 10px;
    border-radius: 20px;
    color: rgba(247, 17, 17, 0.743);
}
#login-area{
    background-color:rgb(18, 171, 218);
    margin-top:100px;
    padding:100px;
}